<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd"> 
<configuration>
	 <properties resource='dbconnect.properties' />
	 <settings>
	 	<setting name="mapUnderscoreToCamelCase" value="true" />
	 </settings>
	 <typeAliases>
	 	<typeAlias type="mybatis.guest.model.Comment" alias='comment'/>
	 </typeAliases>
	 <environments default="development">
		 <environment id="development">
		 	 <transactionManager type="JDBC"/>
			 <dataSource type="POOLED">
				 <property name="driver" value="${mariaDB.driver}"/>
				 <property name="url" value="${mariaDB.url}"/>
				 <property name="username" value="${mariaDB.username}"/>
				 <property name="password" value="${mariaDB.password}"/>
			 </dataSource>
		 </environment>
	 </environments>
		 <mappers>
		 	 <mapper resource="mybatis/guest/mapper/CommentMapper.xml"/>
		 	 <mapper resource="mybatis/guest/mapper/EmployeeMapper.xml"/>
		 </mappers>
</configuration>