<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 

<mapper namespace="EmployeeMapper"> 
	<select id="empSelect" resultType="hashMap">
	SELECT e.eno eno, e.ename ename, e.job job, d.dname dname FROM employee e INNER JOIN department d ON e.dno = d.dno
	</select>	
</mapper>